/** @format */

:root {
	--light: rgba(255, 255, 255, 0.9);
	--lighter: rgba(255, 255, 255, 0.1);
	--dark: rgba(0, 0, 0, 1);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0%;
	padding: 0%;
	background-image: radial-gradient(
		circle,
		rgba(0, 0, 0, 1),
		rgba(24, 22, 22, 1),
		rgba(40, 37, 35, 1),
		rgba(55, 54, 50, 1),
		rgba(69, 72, 66, 1)
	);
}

#app {
	background-image: radial-gradient(
		circle,
		rgba(89, 115, 91, 1),
		rgba(89, 121, 83, 1),
		rgba(92, 127, 73, 1),
		rgba(99, 132, 61, 1),
		rgba(108, 137, 45, 1)
	);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vh;
	margin: 0 auto;
}

#screen {
	height: 100vh;
	width: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#screen > * {
	margin-bottom: 40px;
}

.title,
.subtitle,
.btn,
.scores {
	font-family: 'VT323', monospace;
}

.title,
.subtitle,
.scores {
	color: var(--light);
	text-shadow: 1px 1px 2px var(--dark);
}

.title {
	font-size: 124px;
}

.subtitle {
	font-size: 36px;
	text-align: center;
}

.scores {
	color: var(--light);
	font-size: 24px;
	padding: 20px 40px 1px 40px;
	border: 1px solid var(--lighter);
	text-align: center;
}

.btn {
	color: var(--dark);
	font-size: 20px;
	padding: 16px;
}

.link {
	font-family: serif;
	position: absolute;
	bottom: 10px;
}

[data-coords] {
	height: 4vh;
	width: 4vh;
	border: 1px solid var(--lighter);
}

.snake {
	background-image: radial-gradient(
		circle,
		rgba(255, 255, 255, 1),
		rgba(239, 239, 239, 1),
		rgba(223, 223, 223, 1),
		rgba(207, 207, 207, 1),
		rgba(192, 192, 192, 1)
	);
}

.apple {
	background-image: radial-gradient(
		circle,
		rgba(153, 0, 0, 1),
		rgba(143, 0, 1, 1),
		rgba(133, 0, 1, 1),
		rgba(123, 0, 1, 1),
		rgba(113, 0, 0, 1)
	);
}
